<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ubicacion</title>
	</head>
	<body>
		<script
			async
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0DAL6nKoyzabQVaSO8AIrQDCrT44Ahcg&callback=initMap"
		></script>
		<div id="map"></div>

		<style>
			#map {
				height: 100%;
			}

			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
		</style>
         
		<script>
			const mapDiv = document.getElementById("map");
			let map;

			function initMap() {
				map = new google.maps.Map(document.getElementById("map"), {
					center: {
						lat: -34.397,
						lng: 150.644,
					},
					zoom: 8,
				});
			}
		</script>
	</body>
</html>
